* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Oxygen', sans-serif;
}


.swiper {
    width: "80%";
    height: 300px;
  }


  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.container {
    width: 1200px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin: auto;
}
/* img {
    border-radius: 10px;
} */
a {
    text-decoration: none;
    color: black;
}
h2{
    font-size: 2.5rem;
}

.first-section .hero-section {
    /* width: 100vw;    */
    height: 100vh;
    position: relative;
}
.first-section .back-img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.first-section .background-img {
    height: 99%;
    object-fit: cover;
    width: 100%;
}
.first-section .mainContentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    padding: 0rem 2rem;
}

.first-section .taglineText {
    font-size: 4.5rem;
    line-height: 2rem;
    text-transform:uppercase;
    font-weight: 600;
}

.first-section .taglineBottomText {
    font-size: 3rem;
    font-weight: 500;
}
.second-section{
    padding:  12rem 0;
}
.second-section .about-section {
    padding: 20px 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.second-section .about-data {
   padding: 0px 40px;
    border-radius: 5px;
    /* box-shadow: 20px 20px 60px rgb(0 0 0 / 7%);*/
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}
.second-section .img-section{
    width: 45%;
}
.second-section .about-us-detail{
    width: 45%;
    position: relative;
}
.second-section .second-about-img{
    width: 100%;
}
.second-section .paragraph {
    padding-bottom: 10px;
}
.second-section .view-more-btn {
    position: absolute;
    width: 144px;
    right: 0px;
    text-transform: uppercase;
    cursor: pointer;
    bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background: #ffffff;
}
.second-section .view-more-btn:hover {
    background: #000000;
    color: #ffffff;
}
.second-section .right-arrow{
    float: right;
}
.second-section  .about-header{
    padding-top: 20px;
}
.third-section {
    padding-bottom: 12rem;
}
.third-section .service-header{
    padding-top: 20px;
}
.third-section .service-section{
    padding: 0px 40px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}
.third-section .about-section {
    padding: 20px 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.third-section .about-data {
   padding: 0px 40px;
    border-radius: 5px;
    /* box-shadow: 20px 20px 60px rgb(0 0 0 / 7%);*/
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}
.third-section .img-section{
    width: 45%;
}
.third-section .about-us-detail{
    width: 45%;
    position: relative;
}
.third-section .second-about-img{
    width: 100%;
}
.third-section .paragraph {
    padding-bottom: 10px;
}
.third-section .view-more-btn {
    position: absolute;
    width: 144px;
    left: 0px;
    text-transform: uppercase;
    cursor: pointer;
    bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background: #ffffff;
}
.third-section .view-more-btn:hover {
    background: #000000;
    color: #ffffff;
}
.third-section .right-arrow{
    float: right;
}
.third-section  .about-header{
    padding-top: 20px;
}

.swiper-slide {
    border: 1px solid black;
}

.fifth-section .contact_us {
    margin-top: 12rem;
    padding: 63px 85px;
    background: #424242;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
}

.fifth-section .contact-title {
    font-size: 36px;
    line-height: 51px;
    color: #ffffff;
    font-weight: 600;
}
.fifth-section .contact-btn{
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 600;
    background: #ffffff;
    text-align: center;
    padding: 12px 44px;
    cursor: pointer;
    border-radius: 48px;
    -moz-border-radius: 48px;
    -webkit-border-radius: 48px;
    border: none;
    text-decoration: none;
}


